/* CSS Document */
/*= Reset CSS
==========================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
body { 
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px; 
}
html {
  -webkit-text-size-adjust: none;
}
ul {list-style:none;}

img {
  border: 0;
  -ms-interpolation-mode: bicubic; 
}
* {padding: 0; margin: 0;}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;

}
a:focus{ 
  outline: none; 
}

del {
  text-decoration:  line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
.clear {
  clear: both;
}
a img {
  border: none;
}

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-fix {
  *zoom: 1;
}
.fLeft{
  float:left;
}
.fRight{
  float:right;
}
/*Reset Ends*/

/* ==|== primary styles =====================================================
Author: Shahzad Hussain shahzadcse@gmail.com  
========================================================================== */

h1 { 
  font-size:30px; 
  padding:20px 0; 
  text-align:center
}
h2, h2 span { 
  font-size:24px; 
  padding:0 4px 8px 0 
}
.nav {
  position:relative;
  height:470px ;  
  padding:20px 0 0 0;
  float:left;
  border-right:1px solid #999
}
.nav ul#menus li a{ 
  padding:8px 0 8px 12px; 
  display:block; 
  border-style: solid none none solid;
  border-color:#999;
  border-width:1px;
  color:#000;
  font-weight:bold;
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #dddddd 0%, #cdcdcd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dddddd 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dddddd 0%,#cdcdcd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dddddd 0%,#cdcdcd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dddddd 0%,#cdcdcd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#cdcdcd',GradientType=0 );/* IE6-9 */ 
}
.nav ul#menus li { 
  list-style:none;
  width:198px;
}
.nav ul#menus li:first-child a { 
  border-radius: 15px 0 0 0
} 
.nav ul#menus li:last-child a { 
  border-bottom:1px solid #999; 
  border-radius: 0 0 0 15px
}
.nav ul#menus li a:hover, .nav ul#menus li a.active { 
  background:#fff; 
  width:186px 
}
.nav ul#menus li .article { 
  padding: 8px 0 0 20px;
  position:absolute;  
  margin-left:100%;
  width:465px;
  top:5px;
}
.nav ul#menus li .article img { 
  width:112px; 
  height:112px; 
  padding:4px; 
  box-shadow: 1px 1px 3px 1px #333; 
  float:left; margin:0 10px 0 0
}

/* ==|== print styles =======================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * { 
    background: transparent !important; 
    color: black !important; 
    box-shadow:none !important; 
    text-shadow: none !important; 
    filter:none !important;
    -ms-filter: none !important; 
    } /* Black prints faster: h5bp.com/s */
    a, a:visited { 
      text-decoration: underline;
    }
    a[href]:after { 
      content: " (" attr(href) ")";
    } 
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
      content: ""; 
      }  /* Don't show links for images, or javascript/internal links */

      img { 
        page-break-inside: avoid; 
      }
      img { 
        max-width: 100% !important; 
      }
      @page { 
        margin: 0.5cm; 
      }
      p, h2 { 
        orphans: 3; widows: 3; 
      }
      h2  { 
        page-break-after: avoid; 
      }
    }


/*========= Mobile Style 
======================================================= */
@media screen and (min-width: 640px) {
  /* Style adjustments for viewports that meet the condition */
  .wrapper,header {   
    width:740px;   
    margin:0 auto 
  }
  
}

/* Portrait */
@media screen and (max-width: 640px) and (orientation:portrait) {
  /* Portrait styles */
  .wrapper, header {  
    width:auto;    
    margin:0 auto;  
  }
  .nav ul#menus li .article img { 
    margin-bottom:15px
  }

}
/* Landscape */
@media screen and (max-width: 640px) and (orientation:landscape) {
  /* Landscape styles */
  .wrapper, header {  
    width:auto;    
    margin:0 auto;  
  }
  .nav ul#menus li .article img { 
    margin-bottom:15px
  }

}


@media screen and (min-width: 300px) and (max-width: 640px) {
  /* Style adjustments for viewports that meet the condition */

  h1{ 
    font-size:24px; 
    padding:10px 0
  }
  h2, h2 span { 
    font-size:16px; 
    padding:0 4px 8px 0 
  }
  .nav {
    width:100%;  
    padding:20px 0 10px 0; 
    height:auto; 
    border-right:0  
  }
  
  

  .nav ul#menus li a { 
    padding:6px 0 6px 9px;
    font-size:16px
  }
  .nav, article { 
    float:none; 
    clear:both 
  }
  .nav ul#menus li { 
    list-style:none; 
    width:100% 
  }
  .nav ul#menus li:first-child a, .nav ul#menus li:last-child a { 
    border-radius:0 
  } 
  .nav ul#menus li:last-child a { 
    border-bottom:1px solid #999;
  }
  .nav ul#menus li a:hover, .nav ul#menus li a.active { 
    background:#fff; 
    width:auto 
  }
  
 .nav ul#menus li .article { 
  padding: 8px 10px 15px 10px;
  position:static;  
  margin-left:0;
  width:auto;
  top:15px;
}

}