/* CSS crunched with Crunch - http://crunchapp.net/ */
/* Less file for each slide style */
/* column 1 styling starts here */
.col-1,
.col-3,
.col-5,
.col-7,
.col-9,
.col-11,
.col-13,
.col-15,
#footer-1,
#footer-3 {
  background-color: #ec008c;
}
.col-1 a,
.col-3 a,
.col-5 a,
.col-7 a,
.col-9 a,
.col-11 a,
.col-13 a,
.col-15 a,
#footer-1 a,
#footer-3 a {
  color: #fcb2de;
}
.col-1 a:hover,
.col-3 a:hover,
.col-5 a:hover,
.col-7 a:hover,
.col-9 a:hover,
.col-11 a:hover,
.col-13 a:hover,
.col-15 a:hover,
#footer-1 a:hover,
#footer-3 a:hover {
  color: #ffeef8;
  text-decoration: none;
}
.col-1 a:active,
.col-3 a:active,
.col-5 a:active,
.col-7 a:active,
.col-9 a:active,
.col-11 a:active,
.col-13 a:active,
.col-15 a:active,
#footer-1 a:active,
#footer-3 a:active {
  color: #031113;
}
.col-1 a.expand,
.col-3 a.expand,
.col-5 a.expand,
.col-7 a.expand,
.col-9 a.expand,
.col-11 a.expand,
.col-13 a.expand,
.col-15 a.expand,
#footer-1 a.expand,
#footer-3 a.expand {
  color: #ec7dbf;
}
.col-1 a.expand:hover,
.col-3 a.expand:hover,
.col-5 a.expand:hover,
.col-7 a.expand:hover,
.col-9 a.expand:hover,
.col-11 a.expand:hover,
.col-13 a.expand:hover,
.col-15 a.expand:hover,
#footer-1 a.expand:hover,
#footer-3 a.expand:hover {
  color: #f0f0f0;
  text-decoration: none;
}
.col-1 a.expand:active,
.col-3 a.expand:active,
.col-5 a.expand:active,
.col-7 a.expand:active,
.col-9 a.expand:active,
.col-11 a.expand:active,
.col-13 a.expand:active,
.col-15 a.expand:active,
#footer-1 a.expand:active,
#footer-3 a.expand:active {
  color: #031113;
}
.col-1 .hovering,
.col-3 .hovering,
.col-5 .hovering,
.col-7 .hovering,
.col-9 .hovering,
.col-11 .hovering,
.col-13 .hovering,
.col-15 .hovering,
#footer-1 .hovering,
#footer-3 .hovering {
  background-color: #ec7dbf;
}
.col-1 .starred,
.col-3 .starred,
.col-5 .starred,
.col-7 .starred,
.col-9 .starred,
.col-11 .starred,
.col-13 .starred,
.col-15 .starred,
#footer-1 .starred,
#footer-3 .starred {
  color: #fcb2de;
}
.col-1 .event,
.col-3 .event,
.col-5 .event,
.col-7 .event,
.col-9 .event,
.col-11 .event,
.col-13 .event,
.col-15 .event,
#footer-1 .event,
#footer-3 .event,
.col-1 .events-list,
.col-3 .events-list,
.col-5 .events-list,
.col-7 .events-list,
.col-9 .events-list,
.col-11 .events-list,
.col-13 .events-list,
.col-15 .events-list,
#footer-1 .events-list,
#footer-3 .events-list {
  border-bottom: 1px solid #ec7dbf;
}
.col-1 ::-moz-selection,
.col-3 ::-moz-selection,
.col-5 ::-moz-selection,
.col-7 ::-moz-selection,
.col-9 ::-moz-selection,
.col-11 ::-moz-selection,
.col-13 ::-moz-selection,
.col-15 ::-moz-selection,
#footer-1 ::-moz-selection,
#footer-3 ::-moz-selection,
.col-1 ::selection,
.col-3 ::selection,
.col-5 ::selection,
.col-7 ::selection,
.col-9 ::selection,
.col-11 ::selection,
.col-13 ::selection,
.col-15 ::selection,
#footer-1 ::selection,
#footer-3 ::selection {
  background: #fbdeef;
  color: #ec008c;
}
.col-1 .sub-nav .late-night a,
.col-3 .sub-nav .late-night a,
.col-5 .sub-nav .late-night a,
.col-7 .sub-nav .late-night a,
.col-9 .sub-nav .late-night a,
.col-11 .sub-nav .late-night a,
.col-13 .sub-nav .late-night a,
.col-15 .sub-nav .late-night a,
#footer-1 .sub-nav .late-night a,
#footer-3 .sub-nav .late-night a {
  font-weight: normal;
  background-color: #ec008c;
}
.col-1 .sub-nav .late-night a:hover,
.col-3 .sub-nav .late-night a:hover,
.col-5 .sub-nav .late-night a:hover,
.col-7 .sub-nav .late-night a:hover,
.col-9 .sub-nav .late-night a:hover,
.col-11 .sub-nav .late-night a:hover,
.col-13 .sub-nav .late-night a:hover,
.col-15 .sub-nav .late-night a:hover,
#footer-1 .sub-nav .late-night a:hover,
#footer-3 .sub-nav .late-night a:hover {
  background-color: transparent;
}
.col-1 .sub-nav .late-night a:active,
.col-3 .sub-nav .late-night a:active,
.col-5 .sub-nav .late-night a:active,
.col-7 .sub-nav .late-night a:active,
.col-9 .sub-nav .late-night a:active,
.col-11 .sub-nav .late-night a:active,
.col-13 .sub-nav .late-night a:active,
.col-15 .sub-nav .late-night a:active,
#footer-1 .sub-nav .late-night a:active,
#footer-3 .sub-nav .late-night a:active {
  background-color: #ffeef8;
}
.col-1 .night-mode .sub-nav .late-night a,
.col-3 .night-mode .sub-nav .late-night a,
.col-5 .night-mode .sub-nav .late-night a,
.col-7 .night-mode .sub-nav .late-night a,
.col-9 .night-mode .sub-nav .late-night a,
.col-11 .night-mode .sub-nav .late-night a,
.col-13 .night-mode .sub-nav .late-night a,
.col-15 .night-mode .sub-nav .late-night a,
#footer-1 .night-mode .sub-nav .late-night a,
#footer-3 .night-mode .sub-nav .late-night a {
  background-color: #333;
  color: #f0f0f0;
}
.col-1 .night-mode .sub-nav .late-night a:hover,
.col-3 .night-mode .sub-nav .late-night a:hover,
.col-5 .night-mode .sub-nav .late-night a:hover,
.col-7 .night-mode .sub-nav .late-night a:hover,
.col-9 .night-mode .sub-nav .late-night a:hover,
.col-11 .night-mode .sub-nav .late-night a:hover,
.col-13 .night-mode .sub-nav .late-night a:hover,
.col-15 .night-mode .sub-nav .late-night a:hover,
#footer-1 .night-mode .sub-nav .late-night a:hover,
#footer-3 .night-mode .sub-nav .late-night a:hover {
  background-color: transparent;
}
.col-1 .night-mode .sub-nav .late-night a:active,
.col-3 .night-mode .sub-nav .late-night a:active,
.col-5 .night-mode .sub-nav .late-night a:active,
.col-7 .night-mode .sub-nav .late-night a:active,
.col-9 .night-mode .sub-nav .late-night a:active,
.col-11 .night-mode .sub-nav .late-night a:active,
.col-13 .night-mode .sub-nav .late-night a:active,
.col-15 .night-mode .sub-nav .late-night a:active,
#footer-1 .night-mode .sub-nav .late-night a:active,
#footer-3 .night-mode .sub-nav .late-night a:active {
  background-color: #00a8e2;
}
.col-1 .night-mode .hovering,
.col-3 .night-mode .hovering,
.col-5 .night-mode .hovering,
.col-7 .night-mode .hovering,
.col-9 .night-mode .hovering,
.col-11 .night-mode .hovering,
.col-13 .night-mode .hovering,
.col-15 .night-mode .hovering,
#footer-1 .night-mode .hovering,
#footer-3 .night-mode .hovering {
  background-color: #222;
}
.col-1 .night-mode a,
.col-3 .night-mode a,
.col-5 .night-mode a,
.col-7 .night-mode a,
.col-9 .night-mode a,
.col-11 .night-mode a,
.col-13 .night-mode a,
.col-15 .night-mode a,
#footer-1 .night-mode a,
#footer-3 .night-mode a {
  color: #00a8e2;
}
.col-1 .night-mode .day-number,
.col-3 .night-mode .day-number,
.col-5 .night-mode .day-number,
.col-7 .night-mode .day-number,
.col-9 .night-mode .day-number,
.col-11 .night-mode .day-number,
.col-13 .night-mode .day-number,
.col-15 .night-mode .day-number,
#footer-1 .night-mode .day-number,
#footer-3 .night-mode .day-number,
.col-1 .night-mode .day-name,
.col-3 .night-mode .day-name,
.col-5 .night-mode .day-name,
.col-7 .night-mode .day-name,
.col-9 .night-mode .day-name,
.col-11 .night-mode .day-name,
.col-13 .night-mode .day-name,
.col-15 .night-mode .day-name,
#footer-1 .night-mode .day-name,
#footer-3 .night-mode .day-name {
  color: #ffeef8;
}
.col-1 .night-mode .night-day,
.col-3 .night-mode .night-day,
.col-5 .night-mode .night-day,
.col-7 .night-mode .night-day,
.col-9 .night-mode .night-day,
.col-11 .night-mode .night-day,
.col-13 .night-mode .night-day,
.col-15 .night-mode .night-day,
#footer-1 .night-mode .night-day,
#footer-3 .night-mode .night-day {
  color: #fff;
  text-shadow: 0px 0px 20px #e5e7f2;
}
.col-2,
.col-4,
.col-6,
.col-8,
.col-10,
.col-12,
.col-14,
#footer-2 {
  background-color: #e9e9e9;
}
.col-2 a,
.col-4 a,
.col-6 a,
.col-8 a,
.col-10 a,
.col-12 a,
.col-14 a,
#footer-2 a {
  color: #cecccc;
}
.col-2 a:hover,
.col-4 a:hover,
.col-6 a:hover,
.col-8 a:hover,
.col-10 a:hover,
.col-12 a:hover,
.col-14 a:hover,
#footer-2 a:hover {
  color: #ffeef8;
  text-decoration: none;
}
.col-2 a:active,
.col-4 a:active,
.col-6 a:active,
.col-8 a:active,
.col-10 a:active,
.col-12 a:active,
.col-14 a:active,
#footer-2 a:active {
  color: #031113;
}
.col-2 a.expand,
.col-4 a.expand,
.col-6 a.expand,
.col-8 a.expand,
.col-10 a.expand,
.col-12 a.expand,
.col-14 a.expand,
#footer-2 a.expand {
  color: #f5f5f5;
}
.col-2 a.expand:hover,
.col-4 a.expand:hover,
.col-6 a.expand:hover,
.col-8 a.expand:hover,
.col-10 a.expand:hover,
.col-12 a.expand:hover,
.col-14 a.expand:hover,
#footer-2 a.expand:hover {
  color: #dcdcdc;
  text-decoration: none;
}
.col-2 a.expand:active,
.col-4 a.expand:active,
.col-6 a.expand:active,
.col-8 a.expand:active,
.col-10 a.expand:active,
.col-12 a.expand:active,
.col-14 a.expand:active,
#footer-2 a.expand:active {
  color: #031113;
}
.col-2 .hovering,
.col-4 .hovering,
.col-6 .hovering,
.col-8 .hovering,
.col-10 .hovering,
.col-12 .hovering,
.col-14 .hovering,
#footer-2 .hovering {
  background-color: #d2d2d2;
}
.col-2 .starred,
.col-4 .starred,
.col-6 .starred,
.col-8 .starred,
.col-10 .starred,
.col-12 .starred,
.col-14 .starred,
#footer-2 .starred {
  color: #fcb2de;
}
.col-2 .event,
.col-4 .event,
.col-6 .event,
.col-8 .event,
.col-10 .event,
.col-12 .event,
.col-14 .event,
#footer-2 .event,
.col-2 .events-list,
.col-4 .events-list,
.col-6 .events-list,
.col-8 .events-list,
.col-10 .events-list,
.col-12 .events-list,
.col-14 .events-list,
#footer-2 .events-list {
  border-bottom: 1px solid #b6b5b5;
}
.col-2 ::-moz-selection,
.col-4 ::-moz-selection,
.col-6 ::-moz-selection,
.col-8 ::-moz-selection,
.col-10 ::-moz-selection,
.col-12 ::-moz-selection,
.col-14 ::-moz-selection,
#footer-2 ::-moz-selection,
.col-2 ::selection,
.col-4 ::selection,
.col-6 ::selection,
.col-8 ::selection,
.col-10 ::selection,
.col-12 ::selection,
.col-14 ::selection,
#footer-2 ::selection {
  background: #7a6f75;
  color: #fff;
}
.col-2 .sub-nav .late-night a,
.col-4 .sub-nav .late-night a,
.col-6 .sub-nav .late-night a,
.col-8 .sub-nav .late-night a,
.col-10 .sub-nav .late-night a,
.col-12 .sub-nav .late-night a,
.col-14 .sub-nav .late-night a,
#footer-2 .sub-nav .late-night a {
  font-weight: normal;
  background-color: #c3c1c1;
}
.col-2 .sub-nav .late-night a:hover,
.col-4 .sub-nav .late-night a:hover,
.col-6 .sub-nav .late-night a:hover,
.col-8 .sub-nav .late-night a:hover,
.col-10 .sub-nav .late-night a:hover,
.col-12 .sub-nav .late-night a:hover,
.col-14 .sub-nav .late-night a:hover,
#footer-2 .sub-nav .late-night a:hover {
  background-color: transparent;
}
.col-2 .sub-nav .late-night a:active,
.col-4 .sub-nav .late-night a:active,
.col-6 .sub-nav .late-night a:active,
.col-8 .sub-nav .late-night a:active,
.col-10 .sub-nav .late-night a:active,
.col-12 .sub-nav .late-night a:active,
.col-14 .sub-nav .late-night a:active,
#footer-2 .sub-nav .late-night a:active {
  background-color: #fff;
}
.col-2 .night-mode .sub-nav .late-night a,
.col-4 .night-mode .sub-nav .late-night a,
.col-6 .night-mode .sub-nav .late-night a,
.col-8 .night-mode .sub-nav .late-night a,
.col-10 .night-mode .sub-nav .late-night a,
.col-12 .night-mode .sub-nav .late-night a,
.col-14 .night-mode .sub-nav .late-night a,
#footer-2 .night-mode .sub-nav .late-night a {
  background-color: #333;
  color: #f0f0f0;
}
.col-2 .night-mode .sub-nav .late-night a:hover,
.col-4 .night-mode .sub-nav .late-night a:hover,
.col-6 .night-mode .sub-nav .late-night a:hover,
.col-8 .night-mode .sub-nav .late-night a:hover,
.col-10 .night-mode .sub-nav .late-night a:hover,
.col-12 .night-mode .sub-nav .late-night a:hover,
.col-14 .night-mode .sub-nav .late-night a:hover,
#footer-2 .night-mode .sub-nav .late-night a:hover {
  background-color: transparent;
}
.col-2 .night-mode .sub-nav .late-night a:active,
.col-4 .night-mode .sub-nav .late-night a:active,
.col-6 .night-mode .sub-nav .late-night a:active,
.col-8 .night-mode .sub-nav .late-night a:active,
.col-10 .night-mode .sub-nav .late-night a:active,
.col-12 .night-mode .sub-nav .late-night a:active,
.col-14 .night-mode .sub-nav .late-night a:active,
#footer-2 .night-mode .sub-nav .late-night a:active {
  background-color: #3d3c3c;
}
.col-2 .night-mode .hovering,
.col-4 .night-mode .hovering,
.col-6 .night-mode .hovering,
.col-8 .night-mode .hovering,
.col-10 .night-mode .hovering,
.col-12 .night-mode .hovering,
.col-14 .night-mode .hovering,
#footer-2 .night-mode .hovering {
  background-color: #222;
}
.col-2 .night-mode a,
.col-4 .night-mode a,
.col-6 .night-mode a,
.col-8 .night-mode a,
.col-10 .night-mode a,
.col-12 .night-mode a,
.col-14 .night-mode a,
#footer-2 .night-mode a {
  color: #ec008c;
}
.col-2 .night-mode .day-number,
.col-4 .night-mode .day-number,
.col-6 .night-mode .day-number,
.col-8 .night-mode .day-number,
.col-10 .night-mode .day-number,
.col-12 .night-mode .day-number,
.col-14 .night-mode .day-number,
#footer-2 .night-mode .day-number,
.col-2 .night-mode .day-name,
.col-4 .night-mode .day-name,
.col-6 .night-mode .day-name,
.col-8 .night-mode .day-name,
.col-10 .night-mode .day-name,
.col-12 .night-mode .day-name,
.col-14 .night-mode .day-name,
#footer-2 .night-mode .day-name {
  color: #ffeef8;
}
.col-2 .night-mode .night-day,
.col-4 .night-mode .night-day,
.col-6 .night-mode .night-day,
.col-8 .night-mode .night-day,
.col-10 .night-mode .night-day,
.col-12 .night-mode .night-day,
.col-14 .night-mode .night-day,
#footer-2 .night-mode .night-day {
  color: #fff;
  text-shadow: 0px 0px 20px #e5e7f2;
}
